/* table */

.hide_desktop {
  display: none !important;
}

.datatable-cell:first-child {
  padding: 0.75rem 1rem !important;
}

.edit-subtask {
  padding-right: 10px;
}

.edit-subtask:hover {
  color: #1bc5bd;
}

.limit-1-line-content {
  display: -webkit-box !important;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.invalid-select .css-yk16xz-control {
  border-color: red !important;
}

.responsive-filter {
  width: 20%;
  margin-bottom: 2vh;
}

/* edit task */
.responsive-task__date {
  display: grid;
  grid-template-columns: 48% 4% 48%;
}

@media (max-width: 767px) {
  /* table */
  .hide_mb {
    display: none;
  }

  .show_mb {
    display: block !important;
  }

  .responsive-filter {
    width: 100%;
  }

  /* edit task */
  .responsive-title-page {
    display: block !important;
  }

  .responsive-user {
    padding-top: 10px;
  }

  .responsive-task,
  .responsive-subtask {
    padding: 0 !important;
  }

  .responsive-task__date {
    display: block;
  }
}
