::-webkit-scrollbar {
	/* width: 5px;
	height: 8px; */
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 4px grey;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb {
	background: #0eadab;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background: #079e9c;
}

.hideInAuth{
	display: none;
}
