.rc-pagination-item-active {
    background-color: #5e72e4;
    border-color: #5e72e4;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}
.rc-pagination-item:hover{
    color: #8898aa;
    border-color: #dee2e6;
    background-color: #dee2e6;
}
.rc-pagination-item:hover a {
    color: #8898aa;
}
.rc-pagination-item:focus{
    outline: none;
}
.rc-pagination-item{
    min-width: 36px;
    height: 36px;
    border-radius: 50% !important;
    line-height: 35px;
}
.rc-pagination-prev, .rc-pagination-next {
    line-height: 35px;
    min-width: 36px;
    height: 36px;
    border: 1px solid #d9d9d9;
    border-radius: 50% !important;
    font-size: 18px;
}
.rc-pagination-prev:focus{
    outline: none;
}
.rc-pagination-next:focus{
    outline: none;
}
.rc-pagination-item-link:focus{
    outline: none;
}


/* job css */
.card .table td, .card .table th {
    padding-right: 1rem;
    padding-left: 1rem;
}
.card-footer{
    display: flex;
    justify-content: center;
}
.active-dot{
    padding-right: 16px;
}
.row-in-job{
    cursor: pointer;
}

.card .table {
    margin-bottom: 10px;
}
.card-footer {
    border-top: none;
}
.title-job a{
    color: #525f7f;
}
.budget a{
    color: #525f7f;
}
/* .job-id{
    width: 25%;
}
.range{
    width: 10%;
}
.title-job{
    width: 30%;
} */
.action-job{
    width: 10%;
}
.dropdown-toggle::after{
    display: none;
}
.btn-primary{
    border-color: #fff;
    background-color: #fff;
    box-shadow: none;
}
.btn-primary:hover{
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    border-color: #fff;
    background-color: #fff;
}
