.new_task_cs.right.datetime-trigger .datetime-picker {
  /* width: calc(100vw - 60px)!important; */
  left: -104px !important;
}

.new_task_cs.right .datetime-picker-popup:before,
.home-trigger-datetime.right .datetime-range-picker-popup:before {
  left: 108px !important;
}
.datetime-picker .calendar table tbody tr td.selected {
  background-color: #1bc5bd !important;
}
.datetime-picker .calendar table tbody tr td.now {
  color: #de5613 !important;
}
.wrap_footer{
  padding: 24px;
}
.wrap_container_list .css-mnd6b5{
  padding: 0;
}
.wrap_container_list .css-mnd6b5 .card-body{
  /* padding: 0; */
}
.cus_text_mute{
  color: #5a5a61 !important;
}
.datatable_row{
  border-bottom: 1px solid #ebedf3;
}
.date_newtask{
  width: 45%;
}
.card-body-newtask{
  padding-left: 0;
  padding-right: 0;
}
.card-body-newtask .css-mnd6b5 {
  padding-left: 0;
  padding-right: 0;
}
.plus_add_task{
  width: 20px;
  height: 20px;
}
.wrap_delete_task{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.row_input_task{
  margin-bottom: 10px;
  margin-right: 0;
  
}
.wrap_all_content{
  max-height: 207px;
  overflow-y: auto;
}
.wrap_delete_task:hover > .icon_trash{
  color: #1BC5BD;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image: none;
  padding-right: 0;
}