.recruiter-detail {
    padding: 20px;
}

.detail-answers__header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.header-email {
    font-weight: 700;
    color: #212529;
}

.remove-skill-footer{
    display: flex;
    justify-content: space-around;
}

.btn-remove-skill{
    width: 60px;
}
.bonus-total{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.bonus-total__title{
    font-size: 16px;
    padding-right: 4px;
    font-weight: bold;
}
.text-white{
    color: #ffff;
}