.interview-assessment {
  /* background-image: url("../../assets/bg-3.jpg"); */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-interview {
  border: none;
  width: 100%;
  /* height: 100px; */
}

.input-interview:focus {
  outline: none;
}

.table-interview td {
  vertical-align: middle;
  width: 50%;
}

.information-title {
  background: #b7b7b7;
}

.search-interview {
  display: flex;
}

.search-interview-date {
  width: 100%;
  display: flex;
}