.change_to{
    font-weight: 500;
    color: red;
}
.cs_update_history h2{
    font-size: 12px !important;
}
.cs_update_history h2 span{
    font-size: 12px !important;
}
.cs_update_history h3 span{
    font-size: 12px !important;
}