/* loading css */
.react-sweet-progress-symbol{
    display: none;
}
.hide{
    display: none;
}
.react-sweet-progress-line-inner{
    border-radius: 0%;
    min-height: 5px;
    background-color:rgb(11, 141, 138);
}
.react-sweet-progress-symbol{
    display: none;
}
.page-loader{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #ffffff;
    z-index: 99999999999;
    opacity: 1;
}

